<div class="heineken-table1">
  <div class="header dn">DN</div>
  <div class="header">SKU</div>
  <div class="header">PLAN./REAL.</div>
  <div class="header menjava">Menjava</div>

  <div class="main dn first">
    <span class="label">DN-2:</span><span>2022-05-005-2380</span>
  </div>
  <div class="main sku first">#16-11</div>
  <div class="main hl first">500 hl / 510 hl</div>
  <div class="menjava"><img [src]="arrow" /><span>45 min</span></div>

  <div class="main dn">
    <span class="label">DN-1:</span><span>2022-05-015-3339</span>
  </div>
  <div class="main sku">#09-10</div>
  <div class="main hl">250 hl / 251 hl</div>
  <div class="menjava"><img [src]="arrow" /><span>51 min</span></div>

  <div class="main dn last">
    <div><span class="label">DN:</span><span>2022-05-025-3489</span></div>
  </div>
  <div class="main sku last">
    <div><span>#18-14</span></div>
  </div>
  <div class="main hl last">
    <div><span>500 hl / 045 hl</span></div>
  </div>
</div>

<div class="full-width"></div>
